@model BLL.DTO.PositionDTO

<form asp-action="Create" asp-controller="Position" method="post">
    <div class="form-group">
        <label asp-for="PositionName"></label>
        <input asp-for="PositionName" class="form-control" />
        <span asp-validation-for="PositionName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>